@import "mixin";
@import "variables";

.main {
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  background-color: rgba(200, 222, 232, 0.33);

  .tickets {
    margin-top: 15px;
  }
  .btn {
    width: 100%;
    @include btn($fontSize, $textColor);
    border-color: #0d6efd;
    border-radius: 5px;
    &:hover {
      background-color: #00426e;
    }
  }
}

.checkBoxes {
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}
.ticket{
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 5px;
}
.btns{
  width: 100%;
  padding: 10px;
}